LINK,C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\devenv.exe,C:\Users\kprasad5\source\repos\TestJIRA\TestJIRA\TestJIRA.sln
FSC,C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\devenv.exe,C:\Users\kprasad5\source\repos\tstHarnes\TestHarness.sln
d625dccec0a8016700a222a0f7900d06,C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\devenv.exe,C:\Users\kprasad5\source\repos\tstHarnes\TestHarness.sln